.container {
  width: 100%;
  padding: 0 5%;

  background-color: cornflowerblue;
}

.content {
}
/* 以下component化前のheader CSS */
.header {
  display: block;
  padding: 15px 0;
  text-align: center;
  background-color: lightsalmon;
}
.header h1 {
  padding: 0.5rem 0;
  font-weight: 400;
  color: #000;
}
.header h1 a {
  color: inherit;
}
.header ul {
  list-style: none;
  margin: inherit;
  padding: 0.5rem 0;
  font-size: 1.1rem;
}
.header ul li {
  display: inline-block;
  padding: 0 15px;
}
.header ul li :global(a.active) {
  color: blanchedalmond;
}
/* 以下component前のfooter CSS */
.footer {
  margin: 40px 0 10px;
  text-align: center;
  font-size: 0.75rem;
  background-color: lightcoral;
}
.footer span {
  color: azure;
}
.footer span a {
  color: inherit;
}
